html {
  overflow: hidden;
}
body {
  background-color: #1d1f21;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: #f5f5f5;
  position: relative;
  font-family: "Yeseva One", serif;
  overflow: hidden;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  margin-bottom: 20px;
}
h1 {
  font-size: 2.3rem;
  text-transform: capitalize;
}
header img {
  width: 20%;
}
.hero-box {
  width: 85%;
  background: rgb(255, 152, 63);
  background: linear-gradient(
    90deg,
    rgba(255, 152, 63, 1) 47%,
    rgba(255, 102, 0, 1) 100%
  );

  box-shadow: 4px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
  -webkit-box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
  -moz-box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
}
.hero-box p {
  font-size: 1rem;
  line-height: 150%;
  font-family: "Playfair Display", serif;
}
.hero-box p span {
  display: block;
  text-align: end;
}

.container-slider {
  display: flex;
  padding: 50px 1430px 0 130px;
  width: 100%;
  overflow-x: scroll;
}
.container-slider::-webkit-scrollbar {
  display: none;
}
.container-slider .slide {
  width: 125px;
  height: 125px;
  background-color: aquamarine;
  margin: 0 50px 0 0;
  border-radius: 19px;
  flex-shrink: 0; /* Prevent squares from shrinking */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-slider .slide h2 {
  text-align: center;
}

.container-slider .one {
  box-sizing: content-box;
}
.container-slider img {
  width: 150px;
  border-radius: 19px;
}
.container-slider .two {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.container-slider .three {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  /* padding-right: 100px; */
  margin-right: 200px;
}

menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
  border-top: wheat solid 1px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #1d1f21;
  margin: 0;
}

menu img {
  width: 40px;
  padding: 0 30px;
}
menu button {
  border: #1d1f21 30px solid;
  margin-top: -50%;
  background-color: #ee5b45;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1.7rem;
  border-radius: 50%;
  padding: 25px 15px;
}

/* START PAGE */
.container-grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
  text-transform: capitalize;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 40vw;
  background: rgb(255, 152, 63);
  background: linear-gradient(
    90deg,
    rgba(255, 152, 63, 1) 47%,
    rgba(255, 102, 0, 1) 100%
  );
  box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
  -webkit-box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
  -moz-box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
  border-radius: 10px;
}

/* WEIGHT PAGE  */

.add-weight-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-weight {
  border: 1px #f5f5f5 solid;
  border-radius: 10px;
  padding: 7px;
}
.add-weight label {
  text-transform: capitalize;
  border: #f5f5f5 solid;
  border-radius: 10px;
  padding: 5px;
  margin-left: -7px;
}

.add-weight input {
  width: 100px;
  border: none;
  background-color: transparent;
}

.weight-history-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

table.weight-table {
  width: 50%;

  text-align: center;
}

table.weight-table td,
table.weight-table th {
  border: 3px solid #f5f5f5;
}

table.weight-table tr:nth-child(even) {
  background: gray;
}

/* EXRESICE PAGE  */
.exrcise-head-container {
  width: 100%;
  height: 100px;
  background: rgb(117, 87, 67);
  background: linear-gradient(
    90deg,
    rgba(117, 87, 67, 1) 62%,
    rgba(147, 101, 66, 1) 100%,
    rgba(221, 136, 64, 1) 100%,
    rgba(255, 152, 63, 1) 100%
  );
  box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
  -webkit-box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
  -moz-box-shadow: 1px 2px 23px 1px rgba(255, 152, 63, 0.29);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.exrcise-head-container h2 {
  width: 50%;
  text-align: center;
  font-size: 2rem;
}
.exrcise-head-container hr {
  border: solid;
  border-left: 1px solid #f5f5f5;
  height: 95%;
  width: 1px;
}
.exrcise-head-container p {
  width: 50%;
  text-align: center;
}
.exrcise-head-container p span {
  font-size: 1.3rem;
}

.content {
  max-height: 450px; /* Adjust as needed for your design */
  overflow-y: scroll; /* Enables vertical scrolling */
  overflow-x: hidden; /* Disables horizontal scrolling */
}
.all-exrcises-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.exrcise-container {
  width: 90%;
  height: 90px;
  margin: 10px 0;
  background: rgb(255, 152, 63);
  background: linear-gradient(
    90deg,
    rgba(255, 152, 63, 1) 47%,
    rgba(255, 102, 0, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.exrcise-container input {
  width: 55px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #f5f5f5;
  text-align: end;
}
.exrcise-container input::placeholder {
  color: #f5f5f5;
}
.exrcise-container span {
  font-size: 1rem;
  margin-left: -3px;
}

.exrcise-container button {
  margin-right: -5px;
  background: none;
  border: none;
  font-size: 1.3rem;
  color: wheat;
}
.exrcise-container hr {
  border: solid;
  border-left: 1px solid #f5f5f516;
  height: 60%;
  width: 1px;
  margin: 0;
}
#next-workout-btn {
  display: block;
  margin: 20px auto;
  color: #f5f5f5;
  background-color: #ee5b45;
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  padding: 15px;
  text-transform: capitalize;
}
#current-exercise-display {
  text-align: end;
  font-size: 1.4rem;
}
